.articleSubtitle,
.articleText,
.articleTable td,
.articleTable th {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: #4a4c4c;
}

.articleSubtitle {
  text-align: center;
  font-weight: 700;
}

.articleParagraph {
  text-indent: 30px;
}

.articleTable {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-collapse: collapse;
}

.articleTableSecondColumn {
  width: 40%;
}
.articleTableFirstColumn {
  width: 60%;
}
.articleTable td,
.articleTable th {
  padding: 7px 4px;
  border: 1px solid #828282;
}

.articleTableHead th,
.articleTableFoot td {
  font-weight: 700;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .articleSubtitle,
  .articleText,
  .articleTable td,
  .articleTable th {
    font-size: 20px;
    line-height: calc(30 / 20);
  }
}

@media screen and (min-width: 768px) {
  .articleParagraph,
  .articleOrderedList,
  .articleSubtitle,
  .articleUnOrderedList,
  .articleText {
    font-size: 20px;
    line-height: calc(30 / 20);
  }
}

@media screen and (min-width: 768px) {
  p > .articleText > .articleParagraph {
    font-family: Georgia;
    font-size: 14px;
    line-height: calc(20 / 14);
  }
}

@media screen and (min-width: 1440px) {
  p > .articleText > .articleParagraph {
    font-size: 16px;
    line-height: calc(26 / 16);
  }
}
