.articlesWrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.titleField {
  display: flex;
  align-items: center;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 32px;
  gap: 8px;
}

.title {
  font-family: Cormorant Garamond;
  font-size: 20px;
  line-height: calc(24 / 20);
}

.backArrow {
  position: absolute;
  top: 86px;
  left: 27px;
  cursor: pointer;
  width: 19px;
  height: 14px;
  color: #4a4c4c;
}

.backArrow:hover {
  color: #f5c92a;
}

.articlesList {
  margin-bottom: 28px;
}

.categoryIcon {
  height: 32px;
  width: 32px;
}

.moreButton {
  display: block;
  padding: 12px 0;
  background: #f5c92a;
  border-radius: 4px;
  width: 100%;
  font-family: Cormorant Garamond;
  font-size: 16px;
  line-height: 32px;
  border: 2px solid #f5c92a;
}

.moreButton:hover {
  background: none;
}

@media screen and (min-width: 768px) {
  .articlesWrapper {
    margin: 0;
    width: 462px;
  }

  .titleField {
    display: none;
  }

  .articlesList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    gap: 14px;
  }

  .backArrow {
    display: none;
  }

  .moreButton {
    margin: 0 auto;
    padding: 16px;
    width: 300px;
    font-size: 24px;
    line-height: 29px;
  }
}

@media screen and (min-width: 1440px) {
  .articlesWrapper {
    width: 966px;
  }

  .articlesList {
    gap: 20px;
  }

  .moreButton {
    padding: 24px;
    width: 338px;
    font-size: 32px;
    line-height: 32px;
  }
}
