.container {
  margin: 0 auto;
  padding: 0 16px;

  box-sizing: border-box;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    box-sizing: border-box;
    padding: 0 32px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    box-sizing: border-box;
    padding: 0 72px;
    max-width: 1440px;
  }
}

.teamTitle {
  max-width: 234px;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;

  color: #1b1d1c;
  margin: 0 auto;
  margin-top: 72px;
}

@media screen and (min-width: 768px) {
  .teamTitle {
    min-width: 450px;
    font-size: 32px;
    line-height: 1.22;
    margin-top: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .teamTitle {
    min-width: 672px;
    font-size: 48px;
    line-height: 1.21;
    margin-top: 150px;
  }
}

.teamText {
  width: 95%;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;

  color: #4a4c4c;

  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .teamText {
    width: 704px;
    font-size: 20px;
    line-height: 1.3;
    margin-top: 56px;
  }
}

@media screen and (min-width: 1440px) {
  .teamText {
    width: 1296px;
    font-size: 20px;
    line-height: 1.5;

    margin-top: 80px;
  }
}

.teamInfo {
  position: relative;
  width: 46%;
  height: 291px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .teamInfo {
    width: 218px;
    height: 379px;
    padding-top: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .teamInfo {
    width: 412px;
    height: 628px;
    padding-top: 52px;
  }
}

.teamName {
  max-width: 78%;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;

  color: #1b1d1c;
  margin-top: 20px;
  margin-bottom: 8px;
  padding: 0 9px;
}

@media screen and (min-width: 768px) {
  .teamName {
    font-size: 20px;
    line-height: 1.2;
    margin-top: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .teamName {
    font-size: 28px;
    line-height: 1.21;
    margin-top: 52px;
  }
}

.teamRole {
  max-width: 80%;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #4a4c4c;
}

@media screen and (min-width: 768px) {
  .teamRole {
    font-size: 16px;
    line-height: 1.13;
  }
}

@media screen and (min-width: 1440px) {
  .teamRole {
    font-size: 24px;
    line-height: 1.13;
  }
}

.teamLink {
  position: absolute;
  bottom: 20px;
  fill: #4a4c4c;
}

@media screen and (min-width: 768px) {
  .teamLink {
    bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .teamLink {
    bottom: 52px;
  }
}

.teamLink:hover {
  fill: #f5c92a;
}

.teamLink:focus {
  fill: #f5c92a;
}

.teamIcon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .teamIcon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .teamIcon {
    width: 40px;
    height: 40px;
  }
}

.team {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%;

  row-gap: 32px;

  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .team {
    column-gap: 20px;
    row-gap: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .team {
    column-gap: 24px;
    row-gap: 80px;
  }
}

.partners {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%;

  row-gap: 24px;

  margin-top: 32px;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .partners {
    align-items: baseline;
    gap: 24px;
    margin-bottom: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .partners {
    align-items: baseline;
    gap: 139px;
    margin-bottom: 72px;
  }
}

.logo {
  height: 71px;
  width: 43%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .logo {
    height: 72px;
    width: 158px;

    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.06);
  }
}

@media screen and (min-width: 1440px) {
  .logo {
    height: 100px;
    width: 218px;

    box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.08);
  }
}
