.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 0px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 0 72px;
    max-width: 1440px;
  }
}

.teamTitle {
  max-width: 234px;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;

  color: #1b1d1c;
  margin: 0 auto;
  margin-top: 72px;
}

.teamText {
  width: 91%;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;

  color: #4a4c4c;

  margin-top: 32px;
}

.teamInfo {
  width: 43%;
  /* width: calc((100%-48px) / 2); */
  height: 291px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.teamName {
  max-width: 78%;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;

  color: #1b1d1c;
  margin-top: 20px;
  margin-bottom: 8px;
  padding: 0 9px;
}

.teamRole {
  max-width: 80%;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #4a4c4c;
  margin-bottom: 16px;
  /* padding: 0 9px; */
}

.teamLink {
  fill: #4a4c4c;
}

.teamLink:hover {
  fill: #f5c92a;
}

.team {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 32px;
  /* padding-left: 13px;
  padding-right: 13px; */
  margin-top: 32px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 24px;
  /* justify-content: space-around; */
  /* padding-left: 13px;
  padding-right: 13px; */
  margin-top: 32px;
  margin-bottom: 72px;
}

@media screen and (min-width: 1440px) {
  .partners {
    align-items: baseline;
    gap: 139px;
  }
}

.logo {
  height: 71px;
  width: 43%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
