.artCard {
  display: block;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  margin-bottom: 32px;
}

.artCard:last-child {
  margin-bottom: 0;
}

.artCard:hover {
  border: 1px solid #f5c92a;
}

.artCard:hover .artTitle {
  color: #f5c92a;
}

.picture {
  display: block;
  border-radius: 8px 8px 0px 0px;
}

.date {
  padding: 12px;
  font-family: Georgia;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.artTitle {
  font-family: Cormorant Garamond;
  font-size: 20px;
  line-height: 24px;
  padding: 0 12px 12px;
}

.contentWrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .artCard,
  .artCard:last-child {
    width: 221px;
    margin-bottom: 40px;
  }

  .title {
    display: none;
  }

  .date {
    line-height: 16px;
  }

  .artTitle {
    font-size: 16px;
    line-height: 20px;
  }

  .contentWrapper {
    margin: 0 12px 16px 12px;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* max-height: calc(1.5em * 10); */
    /* display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical; */
    display: block;
    font-family: Georgia;
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .artCard,
  .artCard:last-child {
    width: 306px;
    margin-bottom: 80px;
  }

  .date {
    line-height: 26px;
  }

  .artTitle {
    font-family: Cormorant Garamond;
    font-size: 24px;
    line-height: 27px;
  }

  .contentWrapper {
    /* max-height: calc(1.7em * 10); */
    line-height: 26px;
  }
}
