.articlesTabSection {
  width: 100vw;
}

.title {
  font-family: Cormorant Garamond;
  font-size: 24px;
  font-weight: 700;
  line-height: calc(29 / 24);
  text-align: center;
  padding-top: 72px;
  padding-bottom: 32px;
}

.finPageWrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 72px;
}

.emptyMessage {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .finPageWrapper {
    margin-bottom: 120px;
  }

  .title {
    font-size: 32px;
    padding-top: 120px;
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 1440px) {
  .finPageWrapper {
    gap: 28px;
    margin-bottom: 150px;
  }
  .title {
    font-size: 48px;
    padding-top: 150px;
    padding-bottom: 80px;
  }
}
