.rules {
  padding-top: 72px;
}

.title {
  margin: 0 auto;
  margin-bottom: 32px;
  width: 270px;
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
  text-align: center;
  color: #1b1d1c;
}

@media screen and (min-width: 768px) {
  .rules {
    padding-top: 120px;
  }

  .title {
    width: auto;
    margin-bottom: 56px;
    font-size: 32px;
    line-height: calc(39 / 32);
  }
}

@media screen and (min-width: 1440px) {
  .title {
    margin-bottom: 80px;
    font-size: 48px;
    line-height: calc(58 / 48);
  }
}
