.pageTitle {
  font-family: Cormorant Garamond;
  font-size: 24px;
  font-weight: 700;
  line-height: calc(29 / 24);
  text-align: center;
  padding-top: 72px;
  padding-bottom: 32px;
}

.titleField {
  display: flex;
  align-items: center;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 32px;
  gap: 8px;
}

.categoryIcon {
  height: 32px;
  width: 32px;
}

.title {
  font-family: Cormorant Garamond;
  font-size: 20px;
  line-height: calc(24 / 20);
}

.dateMobile {
  font-family: Georgia;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 12px;
}

.dateTablet {
  display: none;
}

.artTitle {
  font-family: Cormorant Garamond;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 24px;
}

.picture {
  display: block;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 12px;
}

.content {
  font-family: Georgia;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 72px;
}

.backArrow {
  position: absolute;
  top: 86px;
  left: 27px;
  cursor: pointer;
  width: 19px;
  height: 14px;
  color: #4a4c4c;
}

.backArrow:hover {
  color: #f5c92a;
}

.arrowText {
  display: none;
}

.emptyMessage {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .pageTitle {
    display: none;
  }

  .flexTitle {
    display: flex;
    margin-top: 120px;
    gap: 20px;
    margin-bottom: 40px;
  }

  .backNavigation {
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    width: 222px;
    align-self: flex-start;
  }

  .backToCategory {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 4px 8px;
    font-family: Georgia;
    font-size: 14px;
    line-height: 16px;
  }
  .backArrow {
    position: static;
    padding: 9px 6.5px;
  }

  .arrowText {
    display: block;
  }

  .titleField {
    border: none;
    border-radius: 0;
    border-top: 2px solid #bdbdbd;
    margin-bottom: 0;
    font-family: Cormorant Garamond;
    justify-content: center;
  }

  .title {
    font-size: 16px;
    line-height: 24px;
  }

  .rightPosition {
    width: 463px;
  }

  .artTitle {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 56px;
  }

  .dateMobile {
    display: none;
  }

  .dateTablet {
    display: block;
    font-family: Georgia;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  .mobileArrow {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .flexTitle {
    margin-top: 150px;
    gap: 24px;
    margin-bottom: 150px;
  }

  .backNavigation {
    width: 306px;
  }

  .backToCategory {
    padding: 4px 16px;
    font-family: Georgia;
    font-size: 14px;
    line-height: 16px;
  }
  .backArrow {
    padding: 13px 10.5px;
  }

  .arrowText {
    display: block;
    font-size: 16px;
    line-height: 26px;
  }

  .titleField {
    gap: 16px;
    justify-content: flex-start;
    padding-left: 40px;
  }

  .categoryIcon {
    height: 40px;
    width: 40px;
  }

  .title {
    font-size: 20px;
    line-height: 24px;
  }

  .rightPosition {
    width: 966px;
  }

  .artTitle {
    font-size: 48px;
    line-height: 32px;
    width: 966px;
    margin-bottom: 80px;
  }

  .picture {
    width: 966px;
    margin-bottom: 40px;
  }

  .dateTablet {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
  }
}
