@import-normalize;
@import "./stylesheet/fonts.css";
@import "./stylesheet/reset.css";

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  background-color: #e7eaf2;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Cormorant Garamond", "Georgia", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 56px 0 0 0;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 0px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 0 72px;
    max-width: 1440px;
  }
}
