.headerSection {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 50vw;
  transform: translateX(-50vw);
  width: 100vw;
  height: 56px;
  padding: 8px 0;
  box-sizing: border-box;
  background: white;
}

.headContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: Cormorant Garamond;
  font-size: 20px;
  font-weight: 700;
  line-height: calc(24 / 20);
  color: #1b1d1c;
  justify-content: center;
  display: flex;
  align-items: center;
}

.logo::before {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../../images/header/logo40x40.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 12px;
}

.logo:hover,
.menuItem:hover {
  color: #f5c92a;
}

.navigation {
  display: flex;
}

.mainNav {
  display: none;
}

.langBurger {
  display: flex;
  align-items: center;
  gap: 16px;
}

.langBar {
  display: flex;
  gap: 4px;
  align-items: center;
  max-height: 16pc;
}

.flagsIcons {
  display: block;
  width: 20px;
  height: 16px;
  border-radius: 2px;
}
.icon {
  display: block;
}

@media screen and (min-width: 768px) {
  .headerSection {
    height: 94px;
    padding: 12px 0;
  }
  .logo {
    font-size: 24px;
  }

  .logo::before {
    content: "";
    width: 70px;
    height: 70px;
    background-image: url("../../images/header/logo70x70.png");
    margin-right: 16px;
  }

  .navigation {
    gap: 32px;
  }
  .mainNav {
    display: flex;
    gap: 48px;
    font-family: "Cormorant Garamond";
    font-size: 20px;
    font-weight: 700;
    line-height: calc(24 / 20);
  }

  .langBar {
    gap: 12px;
  }

  .flagsIcons {
    width: 24px;
    height: 20px;
    border-radius: 4px;
  }

  .burger {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .headerSection {
    height: 132px;
    padding: 16px 0;
  }
  .logo {
    font-size: 40px;
  }

  .logo::before {
    content: "";
    width: 100px;
    height: 100px;
    background-image: url("../../images/header/logo100x100.png");
  }

  .navigation {
    gap: 84px;
  }

  .mainNav {
    gap: 108px;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }
}
